In [2]:
#calculate trina's rent
700/700+1_200+900*100

91201.0

In [3]:
#calculate trina's rent correctly with PEMDAS
700/(700+1_200+900)*100

25.0

In [4]:
#assign rent amounts
alfred_monthly_23 = 900
fatima_monthly_23 = 1200
trina_monthly_23 = 700

In [5]:
#different way to assign
alfred_m, fatima_m, trina_m = 900, 1200, 700

In [10]:
#call variables
alfred_m
#fatima_monthly_23
#trina_m

900

In [11]:
#calculate trina's share using variables
trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100

25.0

In [12]:
# place result in variable
trina_share_23 = trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100
trina_share_23

25.0

In [19]:
#easier to read 
trina_share_23 = \
trina_monthly_23 / (alfred_monthly_23 +\ 
                    fatima_monthly_23+\
                    trina_monthly_23) * 100
trina_share_23

SyntaxError: unexpected character after line continuation character (1362653984.py, line 3)