In [1]:
#calculate trina's rent
700/700+1_200+900*100

91201.0

In [2]:
#calculate trina's rent correctly with PEMDAS
700/(700+1_200+900)*100

25.0

In [3]:
#assign rent amounts
alfred_monthly_23 = 900
fatima_monthly_23 = 1200
trina_monthly_23 = 700

In [4]:
#different way to assign
alfred_m, fatima_m, trina_m = 900, 1200, 700

In [5]:
#call variables
alfred_m
#fatima_monthly_23
#trina_m

900

In [6]:
#calculate trina's share using variables
trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100

25.0

In [7]:
# place result in variable
trina_share_23 = trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100
trina_share_23

25.0

In [8]:
#easier to read 
trina_share_23 =\
trina_monthly_23 / (alfred_monthly_23 +\
                    fatima_monthly_23 +\
                    trina_monthly_23) * 100
trina_share_23

25.0

In [9]:
#call it
(trina_share_23, alfred_monthly_23, fatima_monthly_23)

(25.0, 900, 1200)

In [10]:
## print function
print("hello world")

hello world

In [11]:
## print variables
print(alfred_monthly_23)
print (alfred_monthly_23, fatima_monthly_23)

900
900 1200

In [12]:
#using f-string
## print total all monthly rents plus total using f-strings
print(f"Trina's rent: ${trina_monthly_23}")
print (f"Trina pays {trina_share_23} percent of the total rent!")

Trina's rent: $700
Trina pays 25.0 percent of the total rent!

In [13]:
##f strings also do calculations
print (f"The total monthly rent is:\
${alfred_monthly_23+fatima_monthly_23+trina_monthly_23:,} and Trina's share is {trina_share_23}%.")

The total monthly rent is:$2,800 and Trina's share is 25.0%.